<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <img src="{{ image_path }}" alt="My image" height="25%" width="25%">
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>Hobby: {{ hobby}}</article>
    <article>Brief description: {{ description }}</article>
    <table border = "1px solid black">
        <caption>
            A brief list of the things I have worked on as well as my education
        </caption>
        {{ table_content | safe}}
    </table>
</body>
</html>
